/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, white , #0d2b66);
}

/* Header */
.log{
  background: #7cf03d;
  color: #000;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0d2b66;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  background: #fff;
  color: #0d2b66;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  background: #7cf03d;
  color: #000;
}

/* Mobile Menu */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Container */
.login-container {
  background: #fff;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #1f242d;
}

/* Inputs */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus{
  border-color: #7cf03d;
  box-shadow: 0 0 5px rgba(124, 240, 61, 0.5);
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: #1f242d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #7cf03d;
  color: #1f242d;
  font-weight: bold;
}

/* Message */
#message {
  margin-top: 15px;
  font-size: 14px;
  color: red;
}

